#result-div .state h5
{width:100%;
padding:10px 0;
color:#6bdaea;
font-weight:bold;
text-align:center;
margin:0;
	font-weight:bold;
font-size:18px;
background:url('/AddressValidationProj/images/home.png');
}
body{
background:#000;
color:#fff;
}
#result-div .state
{margin:15px;
padding:0;
width:30%;
float:left;
border:1px solid #ccc;
position:relative;
background:#333;
}
#result-div .state .section
{height:300px;
overflow:hidden;
	
}
.search-container
{ width: 980px;
margin: 0 auto;
}
.ui-widget
{ width:100%;
text-align:center;
margin-bottom: 20px;}
.ui-widget input
{ width:50%;
padding:5px 10px;
}
#result-div .state div.city
{padding:6px 5px;

}
#result-div .state br
{display:none;
}
.mCSB_inside > .mCSB_container
{margin:0;
}
.mCSB_scrollTools .mCSB_draggerContainer
{top:0px;
bottom:15px;
}
.mCSB_scrollTools .mCSB_draggerRail
{ background: #ccc;
}
.mCSB_dragger_bar
{background: #4D0000;
}
.mCSB_dragger
{/* left:6px; */
top:3px;
}
#result-div,.search-container,.title
{
	width:980px;
	margin:0 auto;
}
hr {
    background-color: transparent;
    height: 0;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    border-top: 1px solid rgba(0,0,0,0.9);
    margin: 0;
    clear: both;
    margin-bottom: 10px;
    border-top: 1px solid rgba(0,0,0,0.7);
}